<div class="continer" *ngIf="loadedData">
  <div class="row">
    <div class="image-card col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let image of loadedData">
      <div class="image-box">
        <img
          src="{{ image.media_preview }}"
          data-src="{{ image.media }}"
          (click)="openModal(image)"
          data-srcset="{{ image.thumbnail }} 480w, {{ image.media }} 640w, {{ image.media }} 1024w"
        >
      </div>
    </div>
  </div>
</div>

<app-large-image-modal #largeModal></app-large-image-modal>
