<ng-template #imageBox let-c="close" let-d="dismiss" style="width: auto">
  <div class="content-wrapper" *ngIf="openedImage">
    <div class="modal-header">
      <h4 class="modal-title">{{openedImage.title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="c('')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" #modalBody>
      <span class="fa fa-info-circle modal-info-icon" (click)="modalBody.hover = !modalBody.hover"></span>
      <div class="over-image-info" [hidden]="!modalBody.hover">
        <p><b>image id:</b> {{openedImage.b_id}}</p>
        <p><b>image-size:</b> {{openedImage.width}} / {{openedImage.height}}</p>
        <a href="{{openedImage.media_fullsize}}" target="_blank">open full image in new tab</a>
      </div>
      <img
        src="{{ openedImage.media }}"
        data-src="{{ openedImage.media_fullsize }}"
        data-srcset="{{ openedImage.thumbnail }} 480w, {{ openedImage.media }} 640w, {{ openedImage.media_fullsize }} 1024w"
      >
    </div>
  </div>
</ng-template>
